<a href="https://colab.research.google.com/github/syouheiohno1987/-/blob/main/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from fbprophet import  Prophet

In [4]:
_df = pd.read_csv('https://www.tepco.co.jp/forecast/html/images/juyo-2017.csv',encoding='shift-jis',skiprows=1)

In [10]:
years =[2017,2018,2019]
#year =years[1]
df = pd.DataFrame()
for year in years:
    _df = pd.read_csv(f'https://www.tepco.co.jp/forecast/html/images/juyo-{year}.csv',encoding='shift-jis',skiprows=1)
    df = pd.concat([df,_df],axis=0)

In [11]:
df

            DATE   TIME  実績(万kW)
0       2017/1/1   0:00     2783
1       2017/1/1   1:00     2634
2       2017/1/1   2:00     2520
3       2017/1/1   3:00     2438
4       2017/1/1   4:00     2389
...          ...    ...      ...
8755  2019/12/31  19:00     3302
8756  2019/12/31  20:00     3263
8757  2019/12/31  21:00     3182
8758  2019/12/31  22:00     3077
8759  2019/12/31  23:00     3029

[26280 rows x 3 columns]

In [12]:
df.reset_index(drop=True)

             DATE   TIME  実績(万kW)
0        2017/1/1   0:00     2783
1        2017/1/1   1:00     2634
2        2017/1/1   2:00     2520
3        2017/1/1   3:00     2438
4        2017/1/1   4:00     2389
...           ...    ...      ...
26275  2019/12/31  19:00     3302
26276  2019/12/31  20:00     3263
26277  2019/12/31  21:00     3182
26278  2019/12/31  22:00     3077
26279  2019/12/31  23:00     3029

[26280 rows x 3 columns]

In [13]:
df['DATE'][0]

0    2017/1/1
0    2018/1/1
0    2019/1/1
Name: DATE, dtype: object

In [14]:
df['TIME'][0]

0    0:00
0    0:00
0    0:00
Name: TIME, dtype: object

In [16]:
date = df['DATE'][0]
time = df['TIME'][0]
str_datetime = f'{date} {time}'
str_datetime

'0    2017/1/1\n0    2018/1/1\n0    2019/1/1\nName: DATE, dtype: object 0    0:00\n0    0:00\n0    0:00\nName: TIME, dtype: object'

In [22]:
from datetime import datetime as dt